.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Home {
  border: 1px solid black;
  width: 100vw;
  height: 100vh;
  padding: 2rem;
}

.card {
  width:20rem;
  height:10rem;
  border: 1px solid rgb(72, 71, 71);
  border-radius: .24rem;
}

.card header {
  display: flex;
  align-items: center;
  width: 90%;
}

.card .card-body {
  margin-left: 1rem;
}

.header-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: .5rem;
}

.skeleton-text {
  width: 90%;
  height: .8rem;
  margin-bottom: .25rem;
  border-radius: .12rem;
}

.skeleton-text:last-child {
  margin-bottom: 0;
  width: 80%;
}

.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
